/*index page*/

.navbarlist{
  list-style-type: none;
  margin-top: 1%;
  margin-right: 2%;
  margin-top: 2%;
}

.nav-links{
  float: right;
  padding-right: 2.5%;
  padding-left: 0.5%;
  color: white;
  font-size: 12px;
}

.nav-links:hover{
  border-left: 1px solid white;
}


/*front page*/

.front_page_wrapper{
  width: 100vw;
  height: 75vw;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.title_div{
  position: relative;
  width:400px;
  margin-left: 62vw;
  margin-top: 7vw;
  opacity: 0.9;
}

.neha{
  position: absolute;
  left:6.25vw;
  top: 0vw;
  color: white;
  font-size: 2.5vw;
  letter-spacing: 2.5vw;
}

.hemang{
  position: absolute;
  left:2vw;
  top: 8vw;
  color: white;
  font-size: 2.5vw;
  letter-spacing: 2.5vw;
}

.title_div img{
  display: block;
  position: absolute;
  left:-13.5vw;
  top: 1.5vw;
  width: 55vw;
}

.introduction{
  position: absolute;
  color:white;
  left:4.5vw;
  top: 16vw;
  font-size: 1.25vw;
  text-align: center;
  letter-spacing: 0.17vw;
  font-family: "century gothic", Arial;
  line-height: 1.58;
}

.rsvp_button{
  position: absolute;
  left:9.5vw;
  top: 22vw;
  color:white;
  font-size: 1.1vw;
  border: 1px solid white;
  padding: 1vw 3vw;
  letter-spacing: 0.05vw;
}
