/*this is css file for all html*/

/*clearfix*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


/*index page*/

table{
  color: black;
  font-size: 1.2em;
}

.nav{
  position: absolute;
  width: 100vw;
  z-index: 100;
}

#home_button{
  float;left;
  width: 2vw;
}

@media (max-width: 1350px){
  #home_button{
    position: relative;
    top: 1vh;
    width: 2vw;
  }
}

@media (max-width: 1000px){
  #home_button{
    position: relative;
    top: 1vh;
    width: 4vw;
  }
}

@media (max-width: 650px){
  #home_button{
    top: 1.5vh;
  }
}

@media (max-width: 500px){
  #home_button{
    top: 0;
    width: 6vw;
  }
}

#home_button_a{
  position: relative;
  display: inline-block;
  z-index: 100;
}


#menu_button{
  float:right;
  display:none;
  width: 6vw;
  z-index: 100;
}

@media (max-width: 500px){
  #menu_button{
    display:block;
  }
}

#navbarlist{
  list-style-type: none;
  margin-top:1%;
  margin-right: 2%;
  opacity: 0.9;
  padding-left: 2%;
}

.nav-links{
  float: right;
  padding: 0.5% 2.5% 0.5% 0.5%;
  /*color: white;*/
  font-size: 14px;
}

@media (max-width: 500px){
  .nav-links{
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
}

#nav-links-div{
  position: absolute;
  right: 2vw;
  top: 2vh;
  display:block;
  width: 100vw;
}

@media (max-width: 500px){
  #nav-links-div{
    display:none;
    top: 5vh;
    width: 20vw;
  }
}



.nav-links:hover{
  border-left: 1px solid white;
}


/*front page*/

.front_page_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 85%;
  overflow: hidden;
}

.title_div{
  position: relative;
  top: 5vw;
  width:50%;
  margin-left: 62vw;
  margin-top: 7vw;
}

.title_div img{
  display: block;
  position: absolute;
  left:-10vw;
  top: -8vw;
  width: 35vw;
}

@media (max-width: 1300px){
  .title_div img{
    font-size: 1.5vw;
    left:-28.5vw;
    top: -5vw;
  }
}

@media (max-width: 800px){
  .title_div img{
    left:-40vw;
    width: 60vw;
  }
}

.introduction{
  position: absolute;
  color:#020F37;
  left:0vw;
  top: 1vw;
  font-size: 0.8vw;
  text-align: center;
  letter-spacing: 0.17vw;
  font-family: "century gothic", Arial;
  line-height: 1.58;
}

@media (max-width: 1300px){
  .introduction{
    font-size: 1.5vw;
    left:-20.5vw;
    top: 5vw;
  }
}

@media (max-width: 800px){
  .introduction{
    font-size: 1.5vw;
    left:-5vw;
    top: 10vw;
  }
}

@media (max-width: 520px){
  .introduction{
    font-size: 3vw;
    left:-31vw;
    top: 16vw;
  }
}

.rsvp_button{
  position: absolute;
  background-color: #f67a29;
  left:3vw;
  top: 5vw;
  color:white;
  font-size: 1.1vw;
  border: none;
  padding: 0.4vw 2vw;
  letter-spacing: 0.05vw;
}

.rsvp_button:hover{
  padding: 0.3vw 1.9vw;
}

@media (max-width: 1300px){
  .rsvp_button{
    font-size: 1.5vw;
    left:-13.5vw;
    top: 12vw;
  }
}

@media (max-width: 800px){
  .rsvp_button{
    font-size: 1.5vw;
    left:2vw;
    top: 16vw;
  }
}

@media (max-width: 520px){
  .rsvp_button{
    font-size: 3vw;
    left:-18vw;
    top: 27vw;
  }
}

/*search page*/

.search_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/rsvp_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.search_wrapper_more{
  height: auto;
}

.search_title_div h1{
  text-align: center;
  color:white;
  font-size: 3vw;
  letter-spacing: 3vw;
  margin-top: 9vw;
}

@media(max-width: 900px){
  .search_title_div h1{
    margin-top: 20vw;
  }
}

.search_input_div{
  text-align: center;
  margin-top: 5vw;
}

.search_input{
  background-color: transparent;
  border-style: solid;
  border: 1px solid white;
  text-align: left;
  width: 60vw;
  padding: 1.5vw;
  color:white;
}

.result_div{
  text-align: center;
  margin-top: 2vw;
}

.result_div span{
  color:white;
}

.result_group{
  font-size: 2vw;
}

.result_name{
  margin-bottom: 1vw;
}

.result_unit_div{
  margin-top: 1vw;
}

.result_div button{
  border: none;
  margin-top: 2vw;
  margin-bottom: 4vw;
  background-color: white;
  padding:1vw 5vw;
  color:#E66CB5;
}

/*rsvp page*/
.rsvp_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/rsvp_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}


table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  color:white;
}
th{
  padding: 1vw 5vw;
}
td{
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.rsvp_icon{
  width: 3vw;
}

.rsvp_submit_button{
  margin-left: 42%;
  margin-top: 3vw;
  border: none;
  margin-bottom: 2vw;
  background-color: white;
  padding:1vw 5vw;
  color:#E66CB5;
}

.rsvp_example_div{
  text-align: center;
}

.rsvp_example_icon{
  width: 4vw;
  -webkit-filter: grayscale(100%) brightness(150%);  /* Safari */
  filter: grayscale(100%) brightness(550%);
}

.rsvp_example_div{
  color:white;
}

.rsvp_example_unit_div{
  display:inline-block;
  padding: 5vw;
  text-align: center;
}

.highlight{
  border-radius: 50%;
  border:5px solid white;
}

/*rsvp attending page*/
.rsvpattending_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/rsvp_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

.rsvpattending_wrapper h1{
  padding-top: 40vh;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 17px;
  letter-spacing: 10px;
  text-align: center;
}


/*entourage page*/
.entourage_wrapper{
  width: 100vw;
  height: 100vh;
}

#entourage_text_mobile{
  display:none;
}

@media (max-width: 550px){
  #entourage_text_mobile{
    display:block;
    width:100vw;
  }
}

.entourage_div{
  position: relative;
  width: 40vw;
  height: 50vh;
  float: right;
}

@media (max-width: 1168px){
  .entourage_div{
    width: 70vw;
    height: 70vw;
  }
}

@media (max-width: 550px){
  .entourage_div{
    width: 100vw;
    height: 100vw;
  }
}

#entourage_text{
  position: absolute;
  top: 43vh;
  left:-20vw;
  float:left;
  width:20vw;
}

@media (max-width: 1168px){
  #entourage_text{
    top: -6.5vw;
    left:-30vw;
    width:30vw;
  }
}

@media (max-width: 550px){
  #entourage_text{
    visibility: hidden;
  }
}

.entourage_icon{
  position: absolute;
  left:15vw;
  top: 14vh;
  width: 12vw;
}

.entourage_icon:hover{
  width: 13vw;
}

@media (max-width: 1168px){
  .entourage_icon{
    width: 20vw;
    left: 26vw;
    top: 24vw;
  }
  .entourage_icon:hover{
    width: 22vw;
  }
}

@media (max-width: 550px){
  .entourage_icon{
    width: 35vw;
    left: 34vw;
    top: 32vw;
  }
  .entourage_icon:hover{
    width: 37vw;
  }
}

#bride_family_div{
  background-image: url(../assets/grey_block.jpg);
  background-size: cover;
}

#groom_family_div{
  background-image: url(../assets/yellow_block.jpg);
  background-size: cover;
}

#bridesmaids_div{
  background-image: url(../assets/pink_block.jpg);
  background-size: cover;
}

#groomsmen_div{
  background-image: url(../assets/navy_block.jpg);
  background-size: cover;
}

/*bridesmaids page*/
.bridesmaids_wrapper{
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/rsvp_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
  text-align: center;
}

.groomsmen_wrapper{
  text-align: center;
  background-color: #161447;
  color: white;
}

.bridesmaid_icon{
  width: 200px;
}

@media(max-width: 800px){
  .bridesmaid_icon{
    width: 150px;
  }
}

@media(max-width: 504px){
  .bridesmaid_icon{
    position: relative;
    top: -50px;
  }
}

@media(max-width: 453px){
  .bridesmaid_icon{
    position: static;
  }
}

@media(max-width: 504px){
  .bridesmaid_text{
    position: relative;
    top: -50px;
    width: 60vw;
  }
}

@media(max-width: 453px){
  .bridesmaid_text{
    position: relative;
    top: -100px;
    width: 80vw;
  }
}

.gallery{
  position: relative;
  top: -80px;
  margin-left: 2vw;
  margin-right: 2vw;
  padding-bottom: 100px;
}

@media(max-width: 504px){
  .gallery{
    position: relative;
    top: -150px;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.gallery_unit{
  float:left;
  margin: 2vw 1vw;
  text-align: center;
}

@media(max-width: 504px){
  .gallery_unit{
    margin: 10vw;
  }
}

.best{
  margin-left: 37vw;
}

@media(max-width: 504px){
  .best{
    margin-left: 10vw;
  }
}

.head{
  clear:left;
}

.last{
  margin-left: 14vw;
}

@media(max-width: 504px){
  .last{
    margin-left: 10vw;
  }
}

.gallery_img{
  width: 22vw;
  height: 22vw;
  border-radius: 20px;
}

@media(max-width: 504px){
  .gallery_img{
    width: 80vw;
    height: 80vw;
  }
}

/*family page*/

.bridefamily_wrapper{
  text-align: center;
  background-color: #c9c8c6;
  height: 100vh;
}

@media(max-width: 800px){
  .bridefamily_wrapper{
    height: auto;
  }
}

.groomfamily_wrapper{
  text-align: center;
  background-color: #ffc356;
  height: 100vh;
}

@media(max-width: 800px){
  .groomfamily_wrapper{
    height: auto;
  }
}

.family_icon{
  width: 200px;
}

@media(max-width: 800px){
  .family_icon{
    width: 150px;
  }
}

@media(max-width: 504px){
  .family_icon{
    position: relative;
    top: -50px;
  }
}

@media(max-width: 453px){
  .family_icon{
    position: static;
  }
}

@media(max-width: 504px){
  .family_text{
    position: relative;
    top: -50px;
    width: 60vw;
  }
}

@media(max-width: 453px){
  .family_text{
    position: relative;
    top: -100px;
    width: 80vw;
  }
}

.family_gallery{
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 60px;
}

@media(max-width: 454px){
  .family_gallery{
    position: relative;
    top: -150px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0;
  }
}

.family_gallery_unit{
  float:left;
  margin: 15px 5vw;
  text-align: center;
}

@media(max-width: 504px){
  .family_gallery_unit{
    margin: 10vw;
  }
}

.family_gallery_img{
  width: 20vw;
  height: 20vw;
  border-radius: 20px;
}

@media(max-width: 820px){
  .family_gallery_img{
    width: 80vw;
    height: 80vw;
  }
}

/*proposal page*/

.proposal_wrapper{
  margin-bottom: 4vw;
}

#proposal{
  width: 100vw;
}

#arrow{
  position: fixed;
  bottom:-3vh;
  width: 3vw;
  left: 48.5vw;
}

@media(max-width: 1000px){
  #arrow{
    display: none;
  }
}

.proposal_wrapper img{
  margin-bottom: 4vw;
}

.proposal_wrapper h1{
  position:absolute;
  top:20vw;
  left: 7vw;
  letter-spacing: 2vw;
  font-size: 1.5vw;
  font-family: 'Didact Gothic', sans-serif;
  color: #161347;
}

@media (max-width: 978px){
  .proposal_wrapper h1{
    position:static;
    letter-spacing: 4vw;
    font-size: 3vw;
    margin-bottom: 4vh;
    text-align: center;
  }
}

.proposal_wrapper p{
  padding: 0 10vw 2vw 10vw;
}

@media (max-width: 978px){
  .proposal_wrapper p:first-child{
    margin-top: 10vw;
  }
}

/*schedule page*/
.schedule_wrapper{
  overflow: auto;
  font-family: 'Didact Gothic', sans-serif;
  color:#d3763f;
  text-align: center;
  margin-bottom: 80px;
  margin-right: 30px;
  padding-top: 50px;
}

@media(max-width: 479px){
  .schedule_wrapper{
    margin-right: 0;
  }
}

.schedule_wrapper h3{
  font-size: 15px;
  letter-spacing: 15px;
  margin-top: 70px;
  color: black;
}


@media(max-width: 479px){
  .schedule_wrapper h3{
    line-height: 30px;
    position: relative;
    z-index: -100;
  }
}

.schedule_wrapper h4{
  position: relative;
  left: -30px;
  color:white;
  background-color: #e3779d;
  font-size: 13px;
  letter-spacing: 7px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media(max-width: 479px){
  .schedule_wrapper h4{
    width: 110vw;
  }
}

.schedule_wrapper h6{
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #9a9998;
}

/*venue page*/
.venue_wrapper{
  font-family: 'Didact Gothic', sans-serif;
  color:white;
  text-align: center;
  margin-bottom: 50px;
  overflow: auto;
}

@media (max-width: 900px){
  .venue_wrapper{
    color: black;
  }
}

.hotel_pic_large{
  position:absolute;
  left: 0;
  width: 100vw;
}

@media (max-width: 900px){
  .hotel_pic_large{
    display: none;
  }
}

.hotel_pic_small{
  position:static;
  left: 0;
  top: 50px;
  width: 100vw;
  display: none;
}

@media (max-width: 900px){
  .hotel_pic_small{
    display: block;
  }
}

.venue_content_wrapper{
  position:absolute;
  left: 0;
  top: 70px;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

@media (max-width: 900px){
  .venue_content_wrapper{
    position: static;
  }
}

.venue_wrapper h2{
  font-size: 19px;
  letter-spacing: 25px;
  margin-top: 8vw;
  margin-bottom: 40px;
  color: #DD99BA;
}

@media (max-width: 414px){
  .venue_wrapper h2{
    font-size: 15px;
    letter-spacing: 15px;
    margin-top: 16vw;
  }
}

.venue_wrapper p{
  font-size: 11px;
}

.venue_wrapper a{
  color: #DD99BA;
}

.hotel_name{
  font-size: 13px !important;
  letter-spacing: 1.5px;
}

.click_to_see{
  font-size: 15px;
  margin-left:0;
  letter-spacing: 3px;
  margin-top: 20px;
}

@media (max-width: 414px){
  .click_to_see{
    font-size: 13px;
    letter-spacing: 2px;
  }
}

@media (max-width: 600px){
  .map{
    position: relative;
    width: 100vw;
    height: 75vw;
    left:-5vw;
    margin-top: 20px;
  }
}

.optional_hotel_content{
  display: none;
  background-color: rgba(255,255, 255, 0.6);
  padding: 20px;
  color:black;
}

.map{
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.show{
  display: block;
}

/*gallery page*/
.gallery_wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: grey;
}

#slider_wrapper{
  position: relative;
  width: 100%;
}

#slider{
  position: relative;
}

.gallery_pic{
  width: 100%;
  height: 100%;
}

/*add guest page*/
h3{
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.add_guest{
  border: 1px solid black;
  padding: 2vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.button_div{
  margin-left: 2vw;
}

.remove{
  color: red;
}

/*uploadfile page*/

.upload_wrapper {
  padding-left: 100px;
  padding-top: 100px;
}

/*allguests page*/

.allguests_table{
  color:black;
}
