<div>
  <input  type="text" ng-change="searchQuery()" ng-model="query" placeholder="firstname">
  <!-- <button ng-change="searchQuery()">Search</button> -->
</div>
<br>
<br>
<br>
<div ng-if="guests.length > 0" ng-repeat="guest in guests">
  <span>{{guest[0].group}} &nbsp; {{guest[0].city}}</span>
  <div class="" ng-repeat="g in guest">
    <span class="">{{g.fname}}</span>&nbsp;
    <span class="">{{g.lname}}</span>&nbsp;
  </div>
  <button ng-click="getParty(guest)">RSVP</button>
</div>


  <!-- <div ng-if="showSearchResults">
    <div ng-repeat="guest in guestsInParty">
      <span>{{guest.fname}}</span>
      <span>{{guest.lname}}</span>
      <span ng-if="guest.mandvo.invited">Mandvo: <span ng-if="!guest.mandvo.modified"><input  type="checkbox" ng-model="guest.mandvo.rsvp"></span> <span ng-if="guest.mandvo.modified">Already rsvped for Mandvo</span></span>
      <span ng-if="guest.garba.invited">Raas: <span ng-if="!guest.garba.modified"><input  type="checkbox" ng-model="guest.garba.rsvp"></span><span ng-if="guest.garba.modified">Already RSVP for Garba</span> </span>
      <span ng-if="guest.wedding.invited">Wedding: <span ng-if="!guest.wedding.modified"><input type="checkbox" ng-model="guest.wedding.rsvp"></span><span ng-if="guest.wedding.modified">Already RSVPed for Wedding</span></span>
      <span ng-if="guest.reception.invited">Reception: <span ng-if="!guest.reception.modified"><input type="checkbox" ng-model="guest.reception.rsvp"></span><span ng-if="guest.reception.modified">Already RSVP for Garba</span> </span>
    </div>
    <button type="button" ng-click="rsvp()">RSVP</button>
  </div> -->








<!-- <a ui-sref="addGuest">addGuest</a>
<a ui-sref="allGuests">AllGuests</a> -->
