
  <table>
  <tr>
    <th>Name</th>
    <th ng-if="guestsInParty[0].mandvo.invited">Mandvo</th>
    <th ng-if="guestsInParty[0].garba.invited">Rass</th>
    <th ng-if="guestsInParty[0].wedding.invited">Wedding</th>
    <th ng-if="guestsInParty[0].reception.invited">Reception</th>
  </tr>
  <tr ng-repeat="guest in guestsInParty">
    <td>
      <span>{{guest.fname}}</span>
      <span>{{guest.lname}}</span>
    </td>
    <td ng-if="guest.mandvo.invited">
      <span>
        <span ng-if="!guest.mandvo.modified" ng-init="guest.mandvo.rsvp = 'No Response'">
          <label ng-init="toggle=false" ng-click="toggleButton" ng-class="highlight:toggle"><img class="rsvp_icon" src="../assets/accept.png"></label><input  type="radio" value="Accept" ng-model="guest.mandvo.rsvp">
          <label><img class="rsvp_icon" src="../assets/decline.png"></label><input  type="radio" value="Decline" ng-model="guest.mandvo.rsvp">
          <label><img class="rsvp_icon" src="../assets/no_response.png"></label><input  type="radio" value="No Response" ng-model="guest.mandvo.rsvp">
        </span>
        <span ng-if="guest.mandvo.modified">Already rsvped for Mandvo:
        </span>
      </span>
    </td>
    <td ng-if="guest.garba.invited">
      <span >
        <span ng-if="!guest.garba.modified" ng-init="guest.garba.rsvp = 'No Response'">
          <label ng-init="toggle=false" ng-click="toggleButton" ng-class="highlight:toggle"><img class="rsvp_icon" src="../assets/accept.png"></label><input  type="radio" value="Accept" ng-model="guest.garba.rsvp">
          <label><img class="rsvp_icon" src="../assets/decline.png"></label><input  type="radio" value="Decline" ng-model="guest.garba.rsvp">
          <label><img class="rsvp_icon" src="../assets/no_response.png"></label><input  type="radio" value="No Response" ng-model="guest.garba.rsvp">
        </span>
        <span ng-if="guest.garba.modified">Already rsvped for Raas:
        </span>
      </span>
    </td>
    <td ng-if="guest.wedding.invited">
      <span >
        <span ng-if="!guest.wedding.modified" ng-init="guest.wedding.rsvp = 'No Response'">
          <label><img class="rsvp_icon" src="../assets/accept.png"></label><input  type="radio" value="Accept" ng-model="guest.wedding.rsvp">
          <label><img class="rsvp_icon" src="../assets/decline.png"></label><input  type="radio" value="Decline" ng-model="guest.wedding.rsvp">
          <label><img class="rsvp_icon" src="../assets/no_response.png"></label><input  type="radio" value="No Response" ng-model="guest.wedding.rsvp">
        </span>
        <span ng-if="guest.wedding.modified">Already rsvped for Wedding:
        </span>
      </span>
    </td>
    <td ng-if="guest.reception.invited">
      <span >
        <span ng-if="!guest.reception.modified" ng-init="guest.reception.rsvp = 'No Response'">
          <label><img class="rsvp_icon" src="../assets/accept.png"></label><input  type="radio" value="Accept" ng-model="guest.reception.rsvp">
          <label><img class="rsvp_icon" src="../assets/decline.png"></label><input  type="radio" value="Decline" ng-model="guest.reception.rsvp">
          <label><img class="rsvp_icon" src="../assets/no_response.png"></label><input  type="radio" value="No Response" ng-model="guest.reception.rsvp">
        </span>
        <span ng-if="guest.reception.modified">Already rsvped for Reception:
        </span>
      </span>
    </td>
  </tr>
  </table>
  <button class="rsvp_submit_button" type="button" ng-click="rsvp()">Submit</button>
  <div class="rsvp_example_div">
    <div class="rsvp_example_unit_div">
      <img class="rsvp_example_icon" src="../assets/accept.png">
      <h5>Accept</h5>
    </div>
    <div class="rsvp_example_unit_div">
      <img class="rsvp_example_icon" src="../assets/decline.png">
      <h5>Decline</h5>
    </div>
    <div class="rsvp_example_unit_div">
      <img class="rsvp_example_icon" src="../assets/no_response.png">
      <h5>No response</h5>
    </div>
  </div>
