<div class="">
  <div>
    <input  type="text" ng-change="searchQuery()" ng-model="query" placeholder="firstname">
    <!-- <button ng-change="searchQuery()">Search</button> -->
  </div>
  <br>
  <br>
  <br>
  <div class="" ng-if="guests.length > 0" ng-repeat="guest in guests">
    <span>{{guest[0].group}} &nbsp; {{guest[0].city}}</span>
    <div class="" ng-repeat="g in guest">
      <span class="">{{g.fname}}</span>&nbsp;
      <span class="">{{g.lname}}</span>&nbsp;
    </div>
    <button ng-click="getParty(guest)">RSVP</button>
  </div>
</div>
