<div> <h3>Add guests here:</h3> </div>
<div class="add_guest">
  <label>First name:</label>&nbsp;&nbsp;<input type="text" ng-model="fname" placeholder="Keyur"><br>
  <label>Last name:</label>&nbsp;&nbsp;<input type="text" ng-model="lname" placeholder="Patel"><br>
  <label>Group name:</label>&nbsp;&nbsp;<input type="text" ng-model="group" placeholder="Group name"><br>
  <label>City:</label>&nbsp;&nbsp;<input type="text" ng-model="city" placeholder="Altanta"><br>
  <br>
  <label>This guest will be invited for:</label>
  <br>
  <label>Mandvo&nbsp;<input type="checkbox" ng-model="mandvo" ></label>&nbsp;&nbsp;
  <label>Garba&nbsp;<input type="checkbox" ng-model="garba" ></label>&nbsp;&nbsp;
  <label>Reception&nbsp;<input type="checkbox" ng-model="reception" ></label>&nbsp;&nbsp;
  <label>Wedding&nbsp;<input  type="checkbox" ng-model="wedding" ></label><br>
  <br>
  <button ng-click="AddG()">Add This Guest</button>
</div>

<!-- <div class="">
  <form class="" action="http://localhost:3000/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="fileName" />
        <input type="submit" value="Upload!">
  </form>
</div> -->


<br>
<div class="button_div">
<button class="remove" ng-click="deleteEveryGuest()">Remove all Guests</button>
</div>

<br>
<div class="button_div">
  <button ng-click="addguestsfromuploadedfile()">Add Guests from Uploaded File</button>
</div>
