<div class="bridesmaids_wrapper">
  <img class="bridesmaid_icon" src="../assets/bridesmaid_notext.png">
  <img class="bridesmaid_text" src="../assets/bridesmaid_text.png">
  <div class="gallery cf">
    <div class="gallery_unit">
      <p class="gallery_text">Sveta Faldu</p>
      <img class="gallery_img" src="../assets/bridesmaids/SvetaFaldu.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Silva Vachhani</p>
      <img class="gallery_img" src="../assets/bridesmaids/SilvaVachhani.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Suzan Ghodasara</p>
      <img class="gallery_img" src="../assets/bridesmaids/SuzanGhodasara.png">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Preeti Patel</p>
      <img class="gallery_img" src="../assets/bridesmaids/PreetiPatel.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Swati Makadia</p>
      <img class="gallery_img" src="../assets/bridesmaids/SwatiMakadia.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Amy Jasani</p>
      <img class="gallery_img" src="../assets/bridesmaids/AmyJasani.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Ellen Espenschied</p>
      <img class="gallery_img" src="../assets/bridesmaids/EllenEspenschied.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Erica Elkins</p>
      <img class="gallery_img" src="../assets/bridesmaids/EricaElkins.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Sharon Shah</p>
      <img class="gallery_img" src="../assets/bridesmaids/SharonShah.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Nazish Ahmed</p>
      <img class="gallery_img" src="../assets/bridesmaids/NazishAhmed.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Sharmila Bhagwandeen</p>
      <img class="gallery_img" src="../assets/bridesmaids/SharmilaBhagwandeen.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Shawniece Boss</p>
      <img class="gallery_img" src="../assets/bridesmaids/ShawnieceBoss.jpg">
    </div>
  </div>
</div>
