<div class="bridefamily_wrapper">
  <img class="family_icon" src="../assets/bridesfamily_notext.png">
  <img class="family_text" src="../assets/bridesfamily_text.png">
  <div class="family_gallery cf">
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Brides Father: Dr. Rasik Delvadia</p>
      <img class="family_gallery_img" src="../assets/bridesfamily/RasikDelvadia_BridesFather.jpg">
    </div>
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Brides Mother: Viju Delvadia</p>
      <img class="family_gallery_img" src="../assets/bridesfamily/VijuDelvadia_BridesMother.jpg">
    </div>
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Brides Brother: Neal Delvadia</p>
      <img class="family_gallery_img" src="../assets/bridesfamily/NealDelvadia_BridesBrother.jpg">
    </div>
  </div>
</div>
