<div class="entourage_wrapper cf">
  <img id="entourage_text_mobile" src="../assets/entourage.png">
  <div id="groom_family_div" class="entourage_div">
    <img id="groom_family" class="entourage_icon" src="../assets/groom_family.png">
  </div>
  <div id="bride_family_div" class="entourage_div">
    <img id="entourage_text" src="../assets/entourage.png">
    <img id="bride_family" class="entourage_icon" src="../assets/bride_family.png">
  </div>
  <div id="groomsmen_div" class="entourage_div">
    <img id="groomsmen" class="entourage_icon" src="../assets/groomsmen.png">
  </div>
  <div id="bridesmaids_div" class="entourage_div">
    <img id="bridesmaids" class="entourage_icon" src="../assets/bridesmaid.png">
  </div>
</div>
