<div class="groomfamily_wrapper">
  <img class="family_icon" src="../assets/groomsfamily_notext.png">
  <img class="family_text" src="../assets/groomsfamily_text.png">
  <div class="family_gallery cf">
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Groom's Father: Rajendra Suthar</p>
      <img class="family_gallery_img" src="../assets/groomsfamily/RajendraSuthar_GroomsFather.jpg">
    </div>
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Groom's Mother: Nila Suthar</p>
      <img class="family_gallery_img" src="../assets/groomsfamily/NilaSuthar_GroomsMother.jpg">
    </div>
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Groom's Brother: Satyam Suthar</p>
      <img class="family_gallery_img" src="../assets/groomsfamily/SatyamSuthar_GroomsBrother.jpg">
    </div>
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Groom's Sister-In-Law: Tanvi Suthar</p>
      <img class="family_gallery_img" src="../assets/groomsfamily/TanviSuthar.jpg">
    </div>
  </div>
</div>
