<div class="family_wrapper">
  <img class="family_icon" src="../assets/groomsfamily_notext.png">
  <img class="family_text" src="../assets/groomsfamily_text.png">
  <div class="family_gallery cf">
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Grooms Father: Rajendra Suthar</p>
      <img class="family_gallery_img" src="../assets/groomsfamily/RajendraSuthar_GroomsFather.jpg">
    </div>
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Grooms Mother: Nila Suthar</p>
      <img class="family_gallery_img" src="../assets/groomsfamily/NilaSuthar_GroomsMother.jpg">
    </div>
    <div class="family_gallery_unit">
      <p class="family_gallery_text">Grooms Brother: Satyam Suthar</p>
      <img class="family_gallery_img" src="../assets/groomsfamily/SatyamSuthar_GroomsBrother.jpg">
    </div>
  </div>
</div>
