<div class="groomsmen_wrapper">
  <img class="bridesmaid_icon" ng-src="../assets/groomsmen_notext.png">
  <img class="bridesmaid_text" ng-src="../assets/groomsmen_text.png">
  <div class="gallery cf">
    <div class="gallery_unit best">
      <p class="gallery_text">Satyam Suthar - Best Man</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/SatyamSuthar.jpg">
    </div>
    <div class="gallery_unit head">
      <p class="gallery_text">Keyur Patel</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/KeyurPatel.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Anshul Acharya</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/AnshulAcharya.png">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Kevin Patel</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/KevinPatel.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Mobin Kaleekal</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/MobinKaleekal.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Parin Patel</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/ParinPatel.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Pratik Karan</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/PratikKaran.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Ronak Chokshi</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/RonakChokshi.png">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Rush Vakharia</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/RushVakharia.jpg">
    </div>
    <div class="gallery_unit last">
      <p class="gallery_text">Samir Dave</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/SamirDave.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Samrat Patel</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/SamratPatel.jpg">
    </div>
    <div class="gallery_unit">
      <p class="gallery_text">Vikram Patel</p>
      <img class="gallery_img" ng-src="../assets/groomsmen/VikramPatel.jpg">
    </div>
  </div>
</div>
