<div class="front_page_wrapper">
  <div class="title_div">
    <img id="name" class="start" src="../assets/name.png">
    <p class="introduction start">We can’t wait to share <br>our special day with you!</p>
    <a ui-sref="search"><p class="rsvp_button start">RSVP</p></a>
  </div>
  <div class="copyright">
  <span>Designed by <a ng-href="https://www.linkedin.com/in/huiqi-zhou-1bb83178/" target="_blank" >Huiqi Zhou</a> & <a ng-href="https://www.linkedin.com/in/ekeyur/" target="_blank">Keyur Patel</a></span>
  <p>© 2017 All Rights Reserved</p>
  </div>
</div>
