<div class="schedule_wrapper">
<h3>SATURDAY, SEPTEMBER 2nd 2017<h3>

<h4>6:00 pm – 10:00pm</h4>
<h5>[ Garba ]</h5>
<h6> Get ready to dance the night away with us!</h6>
<p>Address: Jack &amp; Lee Rosen JCC</p>
<p>11184 S. Apopka Vineland Rd.</p>
<p>Orlando, FL 32836</p>

<h3>SUNDAY, SEPTEMBER 3nd 2017<h3>

<!-- <h4>6:30 am – 8:00 am</h4>
<h5>[ Breakfast ]</h5>
<h6>Come by for some caffeine and food to get you jumpstarted for the day!</h6>
<p>Location: Poolside</p>
<p>Address: Delta Marriott</p>
<p>12490 S. Apopka Vineland Road</p>
<p>Orlando, FL 32836</p> -->

<h4>8:00 am - 9:00 am</h4>
<h5>[ Baraat ]</h5>
<h6>The groom arrives in style.<br> Make sure you are ready to dance and make
some noise!</h6>
<p>Location: Outside of Grand Cypress Ball Room</p>
<p>Address: Hyatt Regency Grand Cypress</p>
<p>1 Grand Cypress Blvd.</p>
<p>Orlando, FL 32836</p>

<h4>9:30 am – 12:00 pm</h4>
<h5>[ Wedding Ceremony ]</h5>
<h6>We’re getting married!</h6>
<p>Location: Grand Cypress Ball Room</p>
<p>Lunch to follow</p>

<h4>6:00 pm – 7:00 pm</h4>
<h5>[ Cocktail Hour ]</h5>
<h6>Enjoy mingling and taking pictures outside in the gorgeous resort
scenery!</h6>
<p>Location: Poolside Hyatt Regency Grand Cypress</p>

<h4>7:00 pm – 12:00 am</h4>
<h5>[ Reception ]</h5>
<h6>It’s party time!<br> We encourage everyone to get out on the dance floor.
Don’t be shy! We’re all family and friends.</h6>
<p>Location: Grand Cypress Ball Room</p>

<h3>MONDAY, SEPTEMBER 4th 2017<h3>
<h4>7:00 am – 10:00 am</h4>
<h5>[ Farewell Brunch ]</h5>
<h6>The weekend comes to an end, don't forget to say goodbye to the
newlyweds.<br> Safe travels back home!</h6>
<p>Location: Hyatt - Cypress Ballroom A</p>
<p>Address: Hyatt Regency Grand Cypress</p>
<p>1 Grand Cypress Blvd</p>
<p>Orlando, FL 32836</p>

</div>
