<div class="search_wrapper" ng-class="{search_wrapper_more: (guests.length > 7)}">
<div class="search_title_div">
  <h1>RSVP</h1>
  <p>Please do not use any prefix or suffix while entering your name. (e.g Dr., Kumar, Ben, etc.).</p>
  <p>If you have any problems RSVPing please email us at nehaandhemang@gmail.com</p>
</div>
<div class="search_box_div">
  <div class="search_input_div">
    <!-- <p>Type your first name here:</p> -->
    <input  class="search_input" type="text" ng-model="fname" placeholder="firstname">
    <br>
    <br>
    <input ng-show="fname" class="search_input" type="text" ng-change="searchQuery()" ng-model="lname" placeholder="lastname">
  </div>
  <br>
  <div class="result_div" ng-if="guests.length > 0" ng-repeat="guest in guests">
    <span class="result_group">{{guest[0].group}}</span>
    <div class="result_unit_div" ng-repeat="g in guest">
      <span class="result_name">{{g.fname}}</span>&nbsp;
      <span class="result_name">{{g.lname}}</span>&nbsp;
    </div>
    <button ng-click="getParty(guest)">RSVP</button>
  </div>
</div>
</div>
