<div class="venue_wrapper">
  <img class="hotel_pic_large" src="../assets/hyatt.jpg">
  <img class="hotel_pic_small" src="../assets/hyatt1.jpg">
  <div class="venue_content_wrapper">
    <h2>MAIN HOTEL</h2>

    <p class="hotel_name">Hyatt Regency Grand Cypress</p>
    <p>1 Grand Cypres Blvd</p>
    <p>Orlando, FL 32836</p>
    <p>Phone: 407-239-1234</p>

    <p>Discounted rate of $159.00 + tax available until August 1, 2017</p>
    <p>Complementary self parking/resort fee include in hotel price</p>
    <p>$10 Dollar Valet parking</p>

    <p><a href="https://aws.passkey.com/go/DelvadiaSuthar2017">[ Use This Link ]</a></p>

    <p>To make reservations over the phone mention “Delvadia &amp; Suthar Wedding</p>

    <h3 class="click_to_see" ng-click="show_optional = !show_optional">[ Click to see optional Hotel ]</h3>

    <div class="optional_hotel_content" ng-class="{show: show_optional}">
      <p class="hotel_name">Delta Hotels by Marriott Orlando Lake Buena Vista
      <p>12490 S. Apopka Vineland Rd
      <p>Orlando, FL 32836
      <p>Phone: 407-387-9990

      <p>Discounted rate of $79.00 + tax available until August 1, 2017
      <p>Complementary Self-Parking include

      <p><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Delvadia%20%26%20Suthar%20Wedding%20Block%5Emcode%60dltdlta%6079%60USD%60false%604%609/2/17%609/4/17%608/14/17&app=resvlink&stop_mobi=yes">[ Use this link ]</a></p>

      <p>To make reservations over the phone mention “Delvadia &amp; Suthar Wedding</p>
    </div>
  </div>

</div>
